In [1]:
import pandas as pd
import numpy as np

In [2]:
filepath = '../../../../../../../Data/thesis/core.2008.1.dat'

In [10]:
pd.read_table(filepath, delimiter='-', nrows = 5)

,000010191280002762008012106200801109710261200201010100010100310032826489120010,10,100000000,10.1,10020,1,1.1,1000000001001020,10020.1,1.2,...,1.99,1002,1.100,0010.7,10010,0010.8,10.146,10.147,0010.9,100000100101100
0,0000101912800027620080122072008011097102612002...,10,100000000,10,10020,1,1,1000000001001020,10020,1,...,1002,1,10,10010,10,10,1.000000e+01,10,1.000001e+14,NaN
1,0000101912800027620080123082008011097102612002...,10,100000000,10,10020,1,1,1000000001001020,10020,1,...,1,1002,1,10,10010,10,1.000000e+01,10,1.000000e+01,1.000001e+14
2,0000101912800027620080124092008011097102612002...,10,100000000,10,10020,1,1,1000000001001020,10020,1,...,1,1002,1,10,10010,10,1.000000e+01,10,1.000000e+01,1.000001e+14
3,0000101912800027620080121062008011097102612002...,10,100000000,10,10020,1,1,1000000001001020,10020,1,...,10,10010,10,10,10,10,1.000001e+14,NaN,NaN,NaN
4,0000101912800027620080122072008011097102612002...,10,100000000,10,10020,1,1,1000000001001020,10020,1,...,10010,10,10,10,10,100000100202100,NaN,NaN,NaN,NaN

In [4]:
with open(filepath,'r') as f:
    next(f) # skip first row
    df = pd.DataFrame(l.rstrip().split() for l in f)

                                                        0
0       0000101912800027620080122072008011097102612002...
1       0000101912800027620080123082008011097102612002...
2       0000101912800027620080124092008011097102612002...
3       0000101912800027620080121062008011097102612002...
4       0000101912800027620080122072008011097102612002...
5       0000101912800027620080123082008011097102612002...
6       0000101912800027620080124092008011097102612002...
7       0000101912800027620080121062008011097102612002...
8       0000101912800027620080122072008011097102612002...
9       0000101912800027620080123082008011097102612002...
10      0000101912800027620080124092008011097102612002...
11      0000201912800033420080121062008011048109112002...
12      0000201912800033420080122072008011048109112002...
13      0000201912800033420080123082008011048109112002...
14      0000201912800033420080124092008011048109112002...
15      0000201912800033420080121062008011048109112002...
16      0000201912800033420080122072008011048109112002...
17      0000201912800033420080123082008011048109112002...
18      0000201912800033420080124092008011048109112002...
19      0000301912800093220080121062008011099106822002...
20      0000301912800093220080122072008011099106822002...
21      0000301912800093220080123082008011099106822002...
22      0000301912800093220080124092008011099106822002...
23      0000301912800093220080121062008011099106822002...
24      0000301912800093220080122072008011099106822002...
25      0000301912800093220080123082008011099106822002...
26      0000301912800093220080124092008011099106822002...
27      0000301912800093220080121062008011099106822002...
28      0000301912800093220080122072008011099106822002...
29      0000301912800093220080123082008011099106822002...
...                                                   ...
421880  4202895595803808520080133092008011110104906002...
421881  4202895595803808520080134102008011110104906002...
421882  4202895595803808520080131072008011110104906002...
421883  4202895595803808520080132082008011110104906002...
421884  4202895595803808520080133092008011110104906002...
421885  4202895595803808520080134102008011110104906002...
421886  4202995595839868820080131072008011090100606002...
421887  4202995595839868820080132082008011090100606002...
421888  4202995595839868820080133092008011090100606002...
421889  4202995595839868820080134102008011090100606002...
421890  4202995595839868820080131072008011090100606002...
421891  4202995595839868820080132082008011090100606002...
421892  4202995595839868820080133092008011090100606002...
421893  4202995595839868820080134102008011090100606002...
421894  4202995595839868820080131072008011090100606002...
421895  4202995595839868820080132082008011090100606002...
421896  4202995595839868820080133092008011090100606002...
421897  4202995595839868820080134102008011090100606002...
421898  4202995595839868820080131072008011090100606002...
421899  4202995595839868820080132082008011090100606002...
421900  4202995595839868820080133092008011090100606002...
421901  4202995595839868820080134102008011090100606002...
421902  4202995595839868820080131072008011090100606002...
421903  4202995595839868820080132082008011090100606002...
421904  4202995595839868820080133092008011090100606002...
421905  4202995595839868820080134102008011090100606002...
421906  4203095595898667120080131072008011005108106002...
421907  4203095595898667120080132082008011005108106002...
421908  4203095595898667120080133092008011005108106002...
421909  4203095595898667120080134102008011005108106002...

[421910 rows x 1 columns]